# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins-dependencies

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Sensitive files (do NOT push to public repo)
.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
